.header_photo{
width: 100%;
padding: 0;
margin: 0;
height: 75%;
}
.baked_goods{
  width: 100%;
  padding: 0;
  margin: 0;
  height:75%;
}
.hoops_section{
  width: 100%;
  padding: 0;
  margin: 0;
  height: 50%
}
.airbnb_logo{
float: left;
width: 50%;
padding-top: 0;
height: 50%;
}
.travel{
  width: 100%;
  padding: 0;
  margin: 0;
}
.j_page_container_1{
  width: 100%;
  padding: 0;
  margin: 0;
}
.j_header_container{
  width: 100%;
  padding:0;
  margin: 0;
  position: absolute;
  text-align: center;
  padding-top: 100px;
  color: rgb(255,255,255);
  font-family: Avenir Next;
}
.j_page_container{
  padding: 0;
  margin:0;
}
.info{
  padding: 0;
  margin: 0;
  height: 100px;
  text-align: center;
  font-family: Avenir Next;
  line-height: 3.4;
  float: right;
  width: 50%;
}
